/*RESET*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
	color: gray;
}

/*UTILS*/
.container {
	display: flex;
	height: calc(100vh - 80px);
}

img {
	width: 100%;
}

h1 {
	color: white;
}

h2 {
	font-size: 1.3rem;
	color: white;
}

h3 {
	font-size: 1rem;
	color: white;
}

h4 {
	font-size: 0.8rem;
	padding-top: 10px;
}

h5 {
	color: white;
}

.dp-xs-none {
	display: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 0 0.5rem;
	color: gray;
}

h4:hover {
	color: white;
}

li:hover {
	color: white;
}

span:hover {
	color: white;
}

/* SIDE-BAR*/

#side-bar {
	background-color: black;
	width: 50px;
	flex-shrink: 0;
	padding: 1rem 0;
	font-size: 0.8rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	overflow: hidden;
}

#side-bar > .user,
#side-bar .links a,
#side-bar .playlist-add,
#side-bar .playlist-list {
	padding: 0 1rem;
}

#side-bar .logo img:last-child {
	max-width: 80%;
	padding-left: 1rem;
}

#side-bar .logo img:first-child,
#side-bar .links .icon {
	width: 30px;
}

#side-bar .playlist-add .make-playlist span,
.dowload-text,
.user-text {
	padding-left: 0.5rem;
}

#side-bar .playlist-list {
	overflow-y: auto;
}

#side-bar .playlist-list li {
	padding-top: 10px;
}

#side-bar .playlist-add .make-playlist,
#side-bar .links li {
	padding-top: 10px;
}

.fa-plus {
	background-color: gray;
	color: black;
	padding: 10px;
}

#side-bar > .user {
	margin-top: auto;
}

#side-bar .download-app > img {
	width: 20px;
	padding-top: 10px;
}

#side-bar .user-profile > .container-profile {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: gray;
	overflow: hidden;
	padding: 3px;
}

#side-bar .user-profile > .container-profile > img {
	object-fit: cover;
	height: 100%;
}

#side-bar > .user .download-app > .download-text,
#side-bar > .user .user-profile > .user-text {
	margin-right: 10px;
}

.download-app {
	display: flex;
	justify-content: center;
	position: relative;
}

.user .underline-gray {
	position: absolute;
	border-bottom: 2px solid gray;
	width: 180px;
	left: -10px;
	top: 40px;
}

.user-profile {
	display: flex;
	align-items: center;
	padding-top: 20px;
}

/* MAIN*/
.main-section {
	background-color: rgb(20, 25, 34);
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.page-header {
	background-color: rgb(18, 20, 23);
	height: 80px;
	width: 100%;
	text-align: end;
}

.call-to-action {
	background-color: rgb(18, 20, 23);
	color: white;
	padding: 10px 30px;
	border: 1px solid white;
	border-radius: 20px;
	margin: 20px 10px;
}

.top-main {
	text-align: center;
	font-size: 0.9rem;
	line-height: 50px;
	padding: 0 15px;
}

.top-main span {
	padding-right: 20px;
}

.top-main .underline {
	position: relative;
}

.top-main .green-line {
	position: absolute;
	height: 3px;
	width: 40px;
	color: lime;
	border-bottom: 2px solid lime;
	bottom: -10px;
	right: 55px;
}

.main-content {
	padding: 15px;
}

.recntly-played img {
	position: absolute;
}

.recently-played i {
	position: relative;
	color: white;
}

.recently-played {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 100%;
}

.playlist-content {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 100%;
}

.artist-list {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 100%;
}

.artist-list img {
	border-radius: 50%;
}

.card {
	width: 50%;
	padding: 20px 10px 0 0;
}

.card-title {
	text-align: center;
	padding-top: 10px;
}

/* FOOTER*/
.page-footer {
	background-color: rgb(40, 40, 40);
	height: 80px;

	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
}

.left-part {
	display: flex;
	align-items: center;
}

.footer-image {
	width: 30px;
	height: 30px;
}

.left-part i {
	display: block;
	padding-left: 10px;
	padding-bottom: 5px;
}

.song-title {
	padding-left: 10px;
	line-height: 12px;
}

.center-part {
	flex-grow: 1;
}

.button-player {
	text-align: center;
	word-spacing: 30px;
	color: white;
}

.progress-bar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.7rem;
	color: white;
	padding-top: 15px;
}

.progress-bar-container span {
	font-size: 0.7rem;
}

.progress-bar-container > .progress-bar {
	flex-grow: 1;
	min-width: 100px;
	max-width: 500px;
	height: 4px;
	background-color: gray;
	border-radius: 2px;
	cursor: pointer;
}

.progress-bar-container > .progress-bar > .progress {
	width: 20%;
	height: 100%;
	background-color: white;
	border-radius: 2px;
}

.right-part {
	display: flex;
	align-items: center;
}

.right-part i {
	padding-right: 5px;
	color: white;
	font-size: 0.9rem;
}

.right-part > .volume-bar {
	flex-grow: 1;
	min-width: 80px;
	height: 4px;
	background-color: gray;
	border-radius: 2px;
	cursor: pointer;
}

.right-part > .volume-bar > .volume {
	width: 20%;
	height: 100%;
	background-color: white;
	border-radius: 2px;
}

/* SCREEN S */

@media screen and (min-width: 639px) {
	.dp-s-none {
		display: none;
	}

	.dp-s-inline {
		display: inline;
	}

	.dp-s-block {
		display: block;
	}

	/*SIDE-BAR*/

	#side-bar {
		width: 200px;
		align-items: flex-start;
	}

	#side-bar .links li {
		border-left: 4px solid transparent;
	}

	#side-bar .links li.lime {
		border-color: lime;
	}

	/*FOOTER*/

	.footer-image {
		width: 50px;
		height: 50px;
	}

	.left-part i {
		display: inline;
	}

	.page-footer .left-part .song-title .name {
		display: flex;
	}

	.page-footer .left-part .song-title .name h6:first-child {
		padding-right: 5px;
	}
}

/* SCREEN M */

@media screen and (min-width: 878px) {
	.card {
		width: calc(100% / 4);
	}

	.page-footer {
		justify-content: space-between;
		padding: 0 1rem;
	}
}

/* SCREEN L */

@media screen and (min-width: 1440px) {
	.card {
		width: calc(100% / 6);
	}
}
